<h1>Index of all posts</h1>
<table>
<div id="list_header">
  <tr>
    <th>Title</th>
    <th>Content</th>
  </tr>
</div>
<div id="list_body">
  <% @blogs.each do |f| %>
    <tr>
      <td><%= f.title %></td>
      <td><%= f.content %></td>
    </tr>
  <% end %>
  </table>
</div>
